












/* body {
  background-color: #ffcaff;
}

p {
  color: yellow;
}

p a {
  color: yellow;
}

#zebra {
  font-size: 48px;
}

.subtitle {
  font-size: 36;
}

.gutter-left {
  margin-left: 30px;
} */